*{
    margin: 0;
    padding: 0;
    background: #73013c;
}

.menuButton{
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #73013c;
    text-align: center;
    cursor: pointer;
}

.schetvalue {
    text-align: center;
    color: white;
    margin-top:10px;
}
#game{
    border-collapse: collapse;
    margin: 2% auto 0;
}
#menu{
    display: flex;
    justify-content: center;
}
td.cell{
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}
